.center {
    text-align: center;
    color: red;
}

.blue{
    color:blue;
}

h1{
    color:purple;
}

#h1blue{
    color:blue;
}

p {
    color: pink;
  }

  div {
    color: lightblue;
  }

  p.center {
    text-align: center;
    color: lightgreen;
  }
















